
{% extends 'layout.html' %}

{% block pageTitle %}
<h1>   입양</h1>
{% endblock %}
{% block contents %}


<hr>
&nbsp
&nbsp
&nbsp
    <form action="/select_dog" method="GET">

        <label for="location"></label>
        <select name = "location" id="location">
          <option value="" selected disabled hidden>--구--</option>
          <option value="강남구">강남구</option>
          <option value="강서구">강서구</option>
          <option value="강북구">강북구</option>
          <option value="중구">중구</option>
     ` </select>


        <label for="sort"></label>
        <select name = "sort" id="sort">
          <option value="믹스견" selected>--종--</option>
          <option value="골든리트리버">골든리트리버</option>
          <option value="비숑">비숑</option>
          <option value="푸들">푸들</option>
          <option value="스피츠">스피츠</option>
            <option value="시츄">시츄</option>
            <option value="말티즈">말티즈</option>
            <option value="요크셔 테리어">요크셔 테리어</option>
            <option value="믹스견">믹스견</option>
        </select>

        <label for="age"></label>
        <select name = "age" id="age">
          <option value="" selected disabled hidden>--나이--</option>
          <option value="1세">1세</option>
          <option value="2세">2세</option>
          <option value="3세">3세</option>
        </select>

        <label for="haircolor"></label>
        <select name = "haircolor" id="haircolor">
          <option value="" selected disabled hidden>--털색--</option>
          <option value="골드" >골드</option>
          <option value="갈색">갈색</option>
          <option value="흰색">흰색</option>
        </select>

        <label for="neutral"></label>
        <select name = "neutral" id="neutral">
          <option value="" selected>--중성화--</option>
          <option value="Y">Yes</option>
          <option value="N">No</option>
            <option value="U">상관없음</option>
        </select>

        <label for="sex" ></label>
        <select name = "sex" id="sex" >
          <option value="" selected>--성별--</option>
          <option value="F">F</option>
          <option value="M">M</option>
        </select>

      <div class="btn-group">
          <button class="btn btn-basic" type="button" onclick="changeIframeUrl()">조회</button>
        </div>
    </form>
    <script>
    function changeIframeUrl()
    {
        var target1 = document.getElementById("sort");
        sort = target1.options[target1.selectedIndex].value;

        var target2 = document.getElementById("neutral");
        neutral = target2.options[target2.selectedIndex].value;

        var target3 = document.getElementById("sex");
        sex = target3.options[target3.selectedIndex].value;
        document.getElementById("map_frame").src = '/select_dog/' + sort + '/' +  neutral + '/' +  sex;
<!--        if (neutral == ''){-->
<!--            document.getElementById("map_frame").src = '/select_dog/' + sort + '/' +  sex;-->
<!--        }-->
<!--        else if (sex == ''){-->
<!--            document.getElementById("map_frame").src = '/select_dog/' + sort + '/' +  neutral + '/' + '';-->
<!--        }-->
<!--        else if (sex == '' && neutral == ''){-->
<!--            document.getElementById("map_frame").src = '/select_dog/' + sort + '' + '/' + '';-->
<!--        }-->
<!--        else{-->
<!--            -->
<!--        }-->
    }
    </script>
    <iframe  frameborder="0" src="/select_dog" width="1000" height="400" id="map_frame" align="center">
    </iframe>


 <div class="text-center" style="padding:10px 0 30px 0">
 </div>


<hr>
<a href="/">HOME</a>
{% endblock %}










