
{% extends 'layout.html' %}

{% block pageTitle %}
<h1>입양</h1>
{% endblock %}

{% block contents %}


<br>
&nbsp
&nbsp
&nbsp

 <form action="">
<div style="text-align:center">
&nbsp

        <label for="sort"></label>
    <select name = "" id="sort"  style="color:slateBlue" required>
          <option value="" selected disabled>--종--</option>
          <option value="골든리트리버">골든리트리버</option>
          <option value="비숑">비숑</option>
          <option value="보더콜리">보더콜리</option>
          <option value="웰시코기">웰시코기</option>
      </select>

&nbsp


        <label for="haircolor"></label>
    <select name = "" id="haircolor" style="color:slateBlue" required>
          <option value="" selected disabled>--털색--</option>
          <option value="골드" >골드</option>
          <option value="갈색">갈색</option>
          <option value="흰색">흰색</option>
    </select>

&nbsp

        <label for="neutral"></label>
    <select name = "" id="neutral" style="color:slateBlue" required>
          <option value="" selected disabled>--중성화--</option>
          <option value="Y">Y</option>
          <option value="N">N</option>
    </select>
&nbsp

        <label for="sex" ></label>
    <select name = "" id="sex" style="color:slateBlue" required>
          <option value="" selected disabled>--성별--</option>
          <option value="여자">여자</option>
          <option value="남자">남자</option>
    </select>
&nbsp
&nbsp
&nbsp
      <div class="btn-group">
    <button style = "color:saddlebrown" type="submit" value="완료">조회</button>
      </div>

</div>
    </form>




 <div class="text-center" style="padding:10px 0 30px 0">
    <p style="margin:10px">준비중</p>
 </div>


<br>
<a href="/home">HOME</a>
{% endblock %}










